<!-- Footer -->
<div class="row footer navbar-static">
    <div class="col-md-12">
		<p>Copyright &copy; {{ site.title }} 2017 - Present.</p>
		<p>Miniplistic Theme created by <a href="https://github.com/patrickmfsd">patrickmfsd</a></p>		
		<br>
		<p>
			<a href="{{ site.title }}/">Blog</a> |<a href="{{ site.title }}/contact">Contact</a> | <a href="{{ site.title }}/about">About</a> | <a href="{{ site.title }}/sponsors">Projects</a> 
		</p>
		<br>
		<img class="footer-logo" src="/images/footerlogo.png" alt="Footer Logo">
		<br>
    </div>
</div>