 	<!-- Icon Bar (Github, Facbook, Dark Mode Togle -->
     	<div class="col-md-12 iconbar">
            <a href="http://github.com/{{github_username}}" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>
            <a href="https://facebook.com/groups/{{fb_username}}" target="_blank"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
            <a><i onclick="theme()" class="fa fa-adjust theme" aria-hidden="true"></i></a>
        </div>
 	
 	<!-- Logo -->
 	<a href="/"><img class="logo animated fadeInDown" src="{{site.baseurl}}{{ site.sitelogo }}" alt="site logo"></a>
 	    
    <!-- Member Sign Up -->
    <!-- Quick sign up for membership  -->
    <div class="membersignup col-md-12 animated tada">
	    <a href="" target="_blank">Use This a Quick Membership Join Link</a> 
    </div>            
	
	
	
	
	
	
    <!-- Navigation Bar -->
    <div class="col-md-12 navbar navbar-inverse">
      <div class="navbar-header">
		
        <!--  Collasped Navbar	 -->
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-inverse-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      
      <ul class="nav justify-content-center">
		  <li class="nav-item">
		    <a class="nav-link active" href=" {{ "/" | prepend: site.baseurl }}">Blog</a>
		  </li>
		  <li class="nav-item">
		    <a class="nav-link" href=" {{"/projects" | prepend: site.baseurl }}">Projects</a></a>
		  </li>
		  <li class="nav-item">
		    <a class="nav-link" href="" target="_blank">Membership</a></a>
		  </li>
		  <li class="nav-item">
		  	<a lass="nav-link" href=" {{ "/contact" | prepend: site.baseurl }}">Contact</a>
		  </li>
		</ul>        
	</div>
    </div>



